.header {
    position: fixed !important;
    z-index: 8 !important;
    background-color: white !important;
    width: 100vw !important;
    box-shadow: 0 0 8px #bbb;
    height: 48px !important;
    line-height: 48px !important;
    padding: 0 !important;
}

#avatar {
    float: right;
}

.logo {
    width: 32px;
    height: 32px;
}

#bookstore-text{
    color: #389e0d;
    font-size: medium;
}

.content{

    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #fafafa;
    min-height: 100vh;
}

.ant-carousel{
    width: 750px;
    height:315px;
    margin: 0 auto;
    text-align: center;
}

.footer {
    text-align: center;
    height:50px;
    margin-top: -50px;
    padding-top: 14px;
    color: dimgray;

}
